.DicomMicroscopyViewer {
    --ol-partial-background-color: rgba(127, 127, 127, 0.7);
    --ol-foreground-color: #000000;
    --ol-subtle-foreground-color: #000;
    --ol-subtle-background-color: rgba(78, 78, 78, 0.5);
    --ol-background-color: white;
}

.DicomMicroscopyViewer .ol-box {
    box-sizing: border-box;
    border-radius: 2px;
    border: 1.5px solid var(--ol-background-color);
    background-color: var(--ol-partial-background-color);
}

.DicomMicroscopyViewer .ol-mouse-position {
    top: 8px;
    right: 8px;
    position: absolute;
}

.DicomMicroscopyViewer .ol-scale-line {
    background: var(--ol-partial-background-color);
    border-radius: 4px;
    bottom: 8px;
    left: 8px;
    padding: 2px;
    position: absolute;
}

.DicomMicroscopyViewer .ol-scale-line-inner {
    border: 1px solid var(--ol-subtle-foreground-color);
    border-top: none;
    color: var(--ol-foreground-color);
    font-size: 10px;
    text-align: center;
    margin: 1px;
    will-change: contents, width;
    transition: all 0.25s;
}

.DicomMicroscopyViewer .ol-scale-bar {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.DicomMicroscopyViewer .ol-scale-bar-inner {
    display: flex;
}

.DicomMicroscopyViewer .ol-scale-step-marker {
    width: 1px;
    height: 15px;
    background-color: var(--ol-foreground-color);
    float: right;
    z-index: 10;
}

.DicomMicroscopyViewer .ol-scale-step-text {
    position: absolute;
    bottom: -5px;
    font-size: 10px;
    z-index: 11;
    color: var(--ol-foreground-color);
    text-shadow:
            -1.5px 0 var(--ol-partial-background-color),
            0 1.5px var(--ol-partial-background-color),
            1.5px 0 var(--ol-partial-background-color),
            0 -1.5px var(--ol-partial-background-color);
}

.DicomMicroscopyViewer .ol-scale-text {
    position: absolute;
    font-size: 12px;
    text-align: center;
    bottom: 25px;
    color: var(--ol-foreground-color);
    text-shadow:
            -1.5px 0 var(--ol-partial-background-color),
            0 1.5px var(--ol-partial-background-color),
            1.5px 0 var(--ol-partial-background-color),
            0 -1.5px var(--ol-partial-background-color);
}

.DicomMicroscopyViewer .ol-scale-singlebar {
    position: relative;
    height: 10px;
    z-index: 9;
    box-sizing: border-box;
    border: 1px solid var(--ol-foreground-color);
}

.DicomMicroscopyViewer .ol-scale-singlebar-even {
    background-color: var(--ol-subtle-foreground-color);
}

.DicomMicroscopyViewer .ol-scale-singlebar-odd {
    background-color: var(--ol-background-color);
}

.DicomMicroscopyViewer .ol-unsupported {
    display: none;
}

.DicomMicroscopyViewer .ol-viewport,
.DicomMicroscopyViewer .ol-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.DicomMicroscopyViewer .ol-viewport canvas {
    all: unset;
}

.DicomMicroscopyViewer .ol-selectable {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

.DicomMicroscopyViewer .ol-grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.DicomMicroscopyViewer .ol-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.DicomMicroscopyViewer .ol-control {
    position: absolute;
    background-color: var(--ol-subtle-background-color);
    border-radius: 4px;
}

.DicomMicroscopyViewer .ol-zoom {
    top: 0.5em;
    left: 0.5em;
}

.DicomMicroscopyViewer .ol-rotate {
    top: 0.5em;
    right: 0.5em;
    transition:
            opacity 0.25s linear,
            visibility 0s linear;
}

.DicomMicroscopyViewer .ol-rotate.ol-hidden {
    opacity: 0;
    visibility: hidden;
    transition:
            opacity 0.25s linear,
            visibility 0s linear 0.25s;
}

.DicomMicroscopyViewer .ol-zoom-extent {
    top: 4.643em;
    left: 0.5em;
}

.DicomMicroscopyViewer .ol-full-screen {
    right: 0.5em;
    top: 0.5em;
}

.DicomMicroscopyViewer .ol-control button {
    display: block;
    margin: 1px;
    padding: 0;
    color: var(--ol-subtle-foreground-color);
    font-weight: bold;
    text-decoration: none;
    font-size: inherit;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: 0.4em;
    background-color: var(--ol-background-color);
    border: none;
    border-radius: 2px;
}

.DicomMicroscopyViewer .ol-control button::-moz-focus-inner {
    border: none;
    padding: 0;
}

.DicomMicroscopyViewer .ol-zoom-extent button {
    line-height: 1.4em;
}

.DicomMicroscopyViewer .ol-compass {
    display: block;
    font-weight: normal;
    will-change: transform;
}

.DicomMicroscopyViewer .ol-touch .ol-control button {
    font-size: 1.5em;
}

.DicomMicroscopyViewer .ol-touch .ol-zoom-extent {
    top: 5.5em;
}

.DicomMicroscopyViewer .ol-control button:hover,
.DicomMicroscopyViewer .ol-control button:focus {
    text-decoration: none;
    outline: 1px solid var(--ol-subtle-foreground-color);
    color: var(--ol-foreground-color);
}

.DicomMicroscopyViewer .ol-zoom .ol-zoom-in {
    border-radius: 2px 2px 0 0;
}

.DicomMicroscopyViewer .ol-zoom .ol-zoom-out {
    border-radius: 0 0 2px 2px;
}

.DicomMicroscopyViewer .ol-attribution {
    text-align: right;
    bottom: 0.5em;
    right: 0.5em;
    max-width: calc(100% - 1.3em);
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}

.DicomMicroscopyViewer .ol-attribution a {
    color: var(--ol-subtle-foreground-color);
    text-decoration: none;
}

.DicomMicroscopyViewer .ol-attribution ul {
    margin: 0;
    padding: 1px 0.5em;
    color: var(--ol-foreground-color);
    text-shadow: 0 0 2px var(--ol-background-color);
    font-size: 12px;
}

.DicomMicroscopyViewer .ol-attribution li {
    display: inline;
    list-style: none;
}

.DicomMicroscopyViewer .ol-attribution li:not(:last-child):after {
    content: ' ';
}

.DicomMicroscopyViewer .ol-attribution img {
    max-height: 2em;
    max-width: inherit;
    vertical-align: middle;
}

.DicomMicroscopyViewer .ol-attribution button {
    flex-shrink: 0;
}

.DicomMicroscopyViewer .ol-attribution.ol-collapsed ul {
    display: none;
}

.DicomMicroscopyViewer .ol-attribution:not(.ol-collapsed) {
    background: var(--ol-partial-background-color);
}

.DicomMicroscopyViewer .ol-attribution.ol-uncollapsible {
    bottom: 0;
    right: 0;
    border-radius: 4px 0 0;
}

.DicomMicroscopyViewer .ol-attribution.ol-uncollapsible img {
    margin-top: -0.2em;
    max-height: 1.6em;
}

.DicomMicroscopyViewer .ol-attribution.ol-uncollapsible button {
    display: none;
}

.DicomMicroscopyViewer .ol-zoomslider {
    top: 4.5em;
    left: 0.5em;
    height: 200px;
}

.DicomMicroscopyViewer .ol-zoomslider button {
    position: relative;
    height: 10px;
}

.DicomMicroscopyViewer .ol-touch .ol-zoomslider {
    top: 5.5em;
}

.DicomMicroscopyViewer .ol-overviewmap {
    left: 0.5em;
    bottom: 0.5em;
}

.DicomMicroscopyViewer .ol-overviewmap.ol-uncollapsible {
    bottom: 0;
    left: 0;
    border-radius: 0 4px 0 0;
}

.DicomMicroscopyViewer .ol-overviewmap .ol-overviewmap-map,
.DicomMicroscopyViewer .ol-overviewmap button {
    display: block;
}

.DicomMicroscopyViewer .ol-overviewmap .ol-overviewmap-map {
    border: 1px solid var(--ol-subtle-foreground-color);
    height: 150px;
    width: 150px;
}

.DicomMicroscopyViewer .ol-overviewmap:not(.ol-collapsed) button {
    bottom: 0;
    left: 0;
    position: absolute;
}

.DicomMicroscopyViewer .ol-overviewmap.ol-collapsed .ol-overviewmap-map,
.DicomMicroscopyViewer .ol-overviewmap.ol-uncollapsible button {
    display: none;
}

.DicomMicroscopyViewer .ol-overviewmap:not(.ol-collapsed) {
    background: var(--ol-subtle-background-color);
}

.DicomMicroscopyViewer .ol-overviewmap-box {
    border: 2px solid #007ea3 !important;
}

.DicomMicroscopyViewer .ol-overviewmap .ol-overviewmap-box:hover {
    cursor: move;
}

@layout-header-background: #007ea3;
@primary-color: #007ea3;
@processing-color: #8cb8c6;
@success-color: #3f9c35;
@warning-color: #eeaf30;
@error-color: #96172e;
@font-size-base: 14px;

.DicomMicroscopyViewer .ol-tooltip {
    font-size: 16px !important;
}
